
#need {
    border-top: 1px #E7E7E7 solid;
}
.well {
    background-color: white;
    padding: 10px;
}
.navbar-form {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar .navbar-inverse  {
    border-radius: 0px;
}
.form-group {
    width: 80%;
}

label.error {
    color: red;
    font-size: small;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
}
.navbar {
    border-radius: 0px;
}